/* Web fonts */
/******************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&family=Inconsolata:wdth,wght@75,300&display=swap");


/* Base */
/******************************************************************************************/
:root {
    --gray-900: #2C343A;
    --gray-800: #404C54;
    --gray-700: #53646E;
    --gray-600: #677B89;
    --gray-500: #7F929F;
    --gray-400: #99A8B2;
    --gray-300: #B3BFC6;
    --gray-200: #CED5DA;
    --gray-100: #E8EBED;
    --lgt-gray: #B3BFC6;
    --med-gray: #7F929F;
    --drk-gray: #2C343A;
    --link-color: #108969;
    --link-color-hover: #69B4A9;
    --keyword-blue: #005187;
    --hilite-color: #B1E9B1;
    --body-line-height: 1.5;
    --header-line-height: 1.3;
    --h1-size: 3.052rem;
    --h2-size: 2.441rem;
    --h3-size: 1.953rem;
    --h4-size: 1.563rem;
    --h5-size: 1.250rem;
    --font-size: 20px;
    --bold: 700;
    --semi: 600;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --border-black: 10px;
    --border-thick: 6px;
    --border-med: 4px;
    --border-thin: 2px;
    --card-title-padding: 1.5rem;
    --space-wide: 6rem;
    --space-medium: 3rem;
    --space-narrow: 1.5rem;
    --icon-size: 32px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: var(--header-line-height);
}

h1 {
    font-size: var(--h1-size);
    margin: var(--h1-size) 0 var(--h1-size) 0;
    font-weight: var(--bold);
}

h2 {
    font-size: var(--h2-size);
    margin: var(--h2-size) 0 var(--h2-size) 0;
    font-weight: var(--semi);
}

h3 {
    font-size: var(--h3-size);
    margin: var(--h3-size) 0 var(--h3-size) 0;
    font-weight: var(--semi);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: var(--regular);
    font-size: var(--font-size);
    line-height: var(--body-line-height);
    color: var(--drk-gray);
    max-width: 90rem;
    margin: 0 auto;
}

section:not(.slim) {
    /* margin: 48px 0; */
    /* margin: 0 auto 48px auto; */
}

header.nav, section.slim {
    background: var(--gray-100);
    height: fit-content;
    position: relative;
}

footer {
    background: var(--drk-gray);
    height: fit-content;
    color: var(--lgt-gray);
}

nav .links {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 110%;
}

span.links span.link-wrapper {
    border-bottom: var(--border-thick) solid transparent;
    border-top: var(--border-thick) solid transparent;
}

span.links span.link-wrapper:not(.no-border).active {
    border-bottom: var(--border-thick) solid var(--keyword-blue);
}

nav .socials {
    width: 12%;
    position: absolute;
    right: var(--space-medium);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 110%;
}

.socials a {
    width: var(--icon-size);
    height: var(--icon-size);
}

.twitter { background-image: url("/static/twitter-fill.png"); }
.twitter-light { background-image: url("/static/twitter-fill-light.png"); }
.twitter:hover, .twitter-light:hover { background-image: url("/static/twitter-fill-hover.png"); }
.youtube { background-image: url("/static/youtube-fill.png"); }
.youtube-light { background-image: url("/static/youtube-fill-light.png"); }
.youtube:hover, .youtube-light:hover { background-image: url("/static/youtube-fill-hover.png"); }
.github { background-image: url("/static/github-fill.png"); }
.github-light { background-image: url("/static/github-fill-light.png"); }
.github:hover, .github-light:hover { background-image: url("/static/github-fill-hover.png"); }

footer .socials {
    width: 18%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#the-menu {
    display: none;
}

nav span.links a {
    font-weight: var(--medium);
    color: var(--drk-gray);
}

footer a {
    font-weight: var(--medium);
    color: var(--lgt-gray);
}

nav span.links a:hover {
    color: var(--link-color-hover)
}

section.hero {
    text-align: center;
    margin: 9rem auto;
}

h1.main {
    font-size: calc(1.5 * var(--h1-size));
    text-align: center;
    border-left: var(--border-black) solid var(--keyword-blue);
    width: fit-content;
    margin: 4rem auto;
    padding-block: 2rem;
    padding-inline: 2.5rem;
}

.nav-row {
    margin: 0 var(--space-medium);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cta-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: var(--space-narrow);
    margin: 0 auto;
    align-items: center;
    font-size: 120%
}

.cta {
    background: var(--keyword-blue);
    color: #FFFFFF;
    padding: 0.7rem 1.5rem;
    border-radius: 15px;
    text-decoration: none;
}

.cta:hover {
    color: #FFFFFF;
    background: var(--link-color-hover);
}

.logo {
    font-family: monospace;
    background: var(--drk-gray);
    color: var(--gray-100) !important;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    border-radius: 10px;
}

.logo:hover {
    color: #FFFFFF;
    background: var(--link-color-hover);
}

.logo-light {
    background: var(--gray-100);
    color: var(--keyword-blue) !important;
}

.logo-light:hover {
    color: var(--gray-100) !important;
}

.section-wrapper {
    padding-top: calc(0.8*var(--space-wide));
    padding-bottom: var(--space-wide);
    padding-inline: var(--space-wide);
}

.sidebar-wrapper .section-wrapper {
    padding-top: calc(0.8*var(--space-wide));
    padding-bottom: var(--space-narrow);
    padding-inline: var(--space-narrow);
}

.sidebar-wrapper section:last-of-type {
    margin-bottom: var(--space-wide);
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
}

.card-row {
    display: flex;
    justify-content: space-between;
}

.card-row-links > .card:hover > .card-header {
    color: var(--link-color-hover);
    cursor: pointer;
}

section .card-row:first-of-type:not(:last-of-type) {
    margin-bottom: var(--space-medium);
}

section.dark-bg {
    background: var(--gray-100);
}

.card {
    width: 30%;
}

.card-full {
    width: 100%;
}

.card-header {
    border-left: var(--border-thick) solid var(--keyword-blue);
}

.card-title {
    padding: 1rem var(--card-title-padding);
    margin-top: 0;
}

.card-p {
    padding-left: calc(var(--card-title-padding) + var(--border-thick));
    margin-bottom: var(--space-narrow);
}

.section-footer {
    padding-inline: calc(var(--card-title-padding) + var(--border-thick));
}

.heart {
    color: red;
}

.code-example {
    margin-block: var(--space-medium);
    display: flex;
    justify-content: space-between;
}

.code-viewer {
    background: #FFFFFF;
}

.code-header { color: #f5871f; font-weight: bold; }
.code-meta { color: #8e908c; }
.code-block { color: #4271ae; font-weight: bold; }
.code-inline { color: #3e999f; }

.code-editor, .code-viewer {
    border-radius: 10px;
    border: var(--border-thin) solid var(--lgt-gray);

}

.code-editor {
    background: #f7f7f7;
    width: fit-content;
    padding-inline: var(--space-narrow);
    padding-block: 20px;
    font-size: 90%;
    margin-left: calc(var(--card-title-padding) + var(--border-thick));
}

.sidebar-wrapper {
    display: flex;
}

aside.sidebar {
    padding: 1rem;
    padding-top: calc(0.8*var(--space-wide));
    padding-bottom: var(--space-wide);
    width: 30%;
}

.sidebar-header {

}

.sidebar-ul {
    padding-left: 0;
}

.sidebar-li {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    list-style-type: none;
    margin-block-end: 0.5rem;
}

.sidebar-link {
    margin-block: 0.5rem;
}

.sidebar-link:hover {
    color: var(--link-color-hover);
    cursor: pointer;
}

.sidebar-li.active {
    border-left: var(--border-thick) solid var(--keyword-blue);
    background: var(--gray-100);
    font-weight: var(--regular);
}

.sidebar-li:not(.active) {
    border-left: var(--border-thick) solid transparent;
}

.manuscriptwrapper {
    max-width: 960px;
    font-size: 90%;
    border-radius: 8px;
    padding: 1rem 5rem 0 5rem;
    overflow: hidden;
}

#flash::before {
    content: "publish."
             /* animation: animate infinite 3s; */
}

/* @keyframes animate { */
/*     0% { content: "publish."; } */
/*     50% { content: "write."; } */
/*     75% { content: "publish."; } */
/* } */

@media (max-width: 1439px) {
    :root {
        --font-size: 18px;
    }

    .section-wrapper {
        padding-top: calc(0.9*var(--space-medium));
        padding-bottom: var(--space-medium);
        padding-inline: var(--space-medium);
    }

    .sidebar-wrapper .section-wrapper {
        padding-bottom: var(--space-narrow);
        padding-inline: var(--space-narrow);
    }

    .code-example {
        position: relative;
        margin-block: var(--space-narrow);
    }

    .code-editor {
        position: relative;
        padding-inline: var(--space-narrow);
        padding-block: 20px;
        font-size: 85%;
        margin-left: calc(var(--card-title-padding) + var(--border-thick));
    }

    .manuscriptwrapper {
        font-size: 90%;
        padding: 1rem 4rem 0 4rem;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-around;
        width: 60%;
        align-items: center;
        margin: 0 auto;
        padding: 1rem;
    }

}

@media (max-width: 1023px) {
    :root {
        --font-size: 16px;
        --h1-size: 2.441rem;
        --h2-size: 1.953rem;
        --h3-size: 1.563rem;
        --h4-size: 1.250rem;
        --h5-size: 1.100rem;
    }

    .manuscriptwrapper h1 {
        font-size: var(--h2-size);
    }
    .manuscriptwrapper h2 {
        font-size: var(--h3-size);
    }
    .manuscriptwrapper h3 {
        font-size: var(--h4-size);
    }
    .manuscriptwrapper h4 {
        font-size: var(--h5-size);
    }

    span.socials {
        display:none;
    }

    nav .links {
        width: 100%;
    }

    section.hero {
        margin: 6rem auto;
    }

    .code-example {
        position: relative;
    }

    .code-editor {
        z-index: 2;
        opacity: 0.8;
    }

    .code-editor:hover {
        z-index: 2;
        opacity: 1.0;
    }

    .code-viewer {
        position: absolute;
        right: 0;
        z-index: 1;
        width: min-content;
        opacity: 0.8;
    }

    .code-viewer:hover {
        z-index: 3;
        opacity: 1.0;
    }

}


@media (max-width: 767px) {
    :root {
        --font-size: 16px;
        --h1-size: 1.953rem;
        --h2-size: 1.563rem;
        --h3-size: 1.250rem;
        --h4-size: 1.100rem;
        --h5-size: 1.000;
    }

    nav.nav-main {
        display: none;
    }

    #the-label {
        width: 32px;
        height: 32px;
        background-image: url(/static/burger.png);
        display: block;
        margin-left: auto;
    }

    #the-menu:checked ~ nav.nav-main {
        display: flex;
        justify-content: space-around;
    }

    #the-menu:checked ~ #the-label {
        background-image: url(/static/close.png);
    }

    #the-menu:checked ~ nav.nav-main .links {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .cta-wrapper {
        flex-direction: column;
    }

    .card-row {
        flex-direction: column;
        align-items: center;
    }

}


@media (max-width: 424px) {
    :root {
        --font-size: 14px;
        --h1-size: 1.563rem;
        --h2-size: 1.250rem;
        --h3-size: 1.100rem;
        --h4-size: 1.000;
    }

}
